@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inconsolata", monospace;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

main{
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-footer{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

